.App {
  text-align: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.App .box {
  border: 2px dotted cyan;
  border-radius: 10px;
  width: 30%;
  margin: 0.5rem auto;
}

.box span {
  font-weight: bold;
  color: ececec;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
